.btn-red {
  font-size: 1em;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  a {
    text-decoration: none;
  }
  input, button {
    border: none;
    cursor: pointer;
  }
  a, input, button {
    border-radius: 50px;
    outline: none;
    display: block;
    color: @text-dark;
    padding: 13px 15px;
  }
}
.section__title {
  font-size: 3.5em;
  text-transform: uppercase;
  text-align: center;
  padding: 0 10px;
  margin: 10px 0 60px;
  color: @text-red;
  font-weight: 300;
}
.input-wrap {
  margin: 0 0 15px 0;
  input {
    outline: none;
    padding: 13px 20px;
    width: 100%;
    font-size: 1em;
    line-height: 1;
    color: @text-light;
    font-weight: 300;
    border: 0;
    border-radius: 50px;
    background: rgba(255, 120, 120, 0.4);
  }
}
.textarea-wrap {
  textarea {
    resize: none;
    min-height: 90px;
    outline: none;
    padding: 13px 20px;
    width: 100%;
    font-size: 1em;
    line-height: 1;
    color: @text-light;
    font-weight: 300;
    border: 0;
    border-radius: 15px;
    background: rgba(255, 120, 120, 0.4);
  }
}

*::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease; color: @text-light;}
*::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease; color: @text-light;}
*:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease; color: @text-light;}
*:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease; color: @text-light;}
*:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
*:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
*:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
*:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}