.wrap__items {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.home-advantages {
  .box__item {
    width: 20%;
    padding: 0 5px;
    text-align: center;
    margin-bottom: 70px;
  }
  .btn-red {
    max-width: 215px;
    margin: 0 auto;
  }
}
.box__item-icon {
  width: 64px;
  height: 64px;
  margin: 0 auto 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 100%;
    height: auto;
    max-height: 64px;
  }
}
.section__wrap {
  padding: 50px 0;
}
.home-masseuses {
  .massage-girls {
    max-width: 1000px;
    margin: 0 auto;
  }
  .slider__item {
    max-width: 300px;
    margin: 0 auto;
    height: 430px;
    overflow: hidden;
    text-align: center;
  }
}
.wrap__items-about {
  height: 630px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  .box__item {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    &.item-left {
      padding-bottom: 30px;
    }
    &.item-top {
      height: 50%;
      width: 100%;
      padding-bottom: 30px;
    }
    &.item-bottom {
      height: 50%;
      width: 100%;
      padding-bottom: 30px;
    }
    .btn-red {
      max-width: 200px;
      margin-left: auto;
    }
  }
}