.footer {
  padding: 70px 0 105px 0;
  position: relative;
  min-height: 762px;
  overflow: hidden;
}

.footer__container {
  max-width: 800px;
  margin-left: auto;
  .footer__form {
    padding-top: 50px;
    .btn-red {
      max-width: 215px;
      margin: 15px auto 0;
    }
  }
}

.footer__form-top {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  .input-wrap {
    width: 48%;
    &:last-child {
      margin-left: auto;
    }
  }
}

.footer__position {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  .footer-girl {
    position: absolute;
    bottom: 0;
    left: 200px;
    display: block;
    z-index: 1;
  }
  .footer-bg {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .footer-line, .footer-line2 {
    position: absolute;
    bottom: -30px;
    left: 100px;
  }
  .footer-line2 {
    left: 250px;
  }
}

.footer__bottom {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 80px;
  & > div {
    width: 50%;
    text-align: center;
    font-size: 1.14em;
    color: @text-red;
  }
  .btn-red {
    max-width: 225px;
    margin: 15px auto 0;
  }
}

.footer__info-phone {
  margin-bottom: 1rem;
  a {
    text-decoration: none;
    outline: none;
    font-size: 1.28em;
    line-height: 1;
    font-weight: 600;
    color: @text-red;
    b {
      color: @text-red-light;
    }
  }
}
.nav__footer {
  width: 50%;
  ul {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        text-decoration: none;
        outline: none;
        text-align: center;
        font-size: 1.14em;
        line-height: 1;
        color: @text-red;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}