body {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  background-color: @mainBg;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  padding: 20px 0 30px;
  background-color: rgba(6,6,6,.2);
}

.header-top, .header-bottom {
  display: flex;
  align-items: center;
}

.header-top {
  justify-content: center;
}

.header-bottom {
  padding-top: 25px;
  justify-content: flex-start;
  .btn-red {
    margin-left: auto;
  }
}

.nav {
  &__header {
    ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        margin-right: 1em;
        &:last-child {
          margin-right: 0;
        }
        a {
          color: @text-red;
          position: relative;
          display: block;
          font-size: 1.42em;
          text-decoration: none;
          outline: none;
          &:after {
            content: '';
            bottom: 0;
            left: 0;
            position: absolute;
            width: 0;
            height: 1px;
            background-color: @text-red;
          }
          &:hover {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.box {
  &__info {
    &-tel {
      font-size: 1.57em;
      font-weight: 600;
      a {
        text-decoration: none;
        outline: none;
        color: @text-red;
      }
    }
    &-time {
      color: @text-light;
      font-size: 1.14em;
      font-weight: 600;
      margin-left: 1.5em;
    }
  }
}

.home-banner {
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding-top: 15vh;
  .page-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .home-banner__content {
    h2 {
      line-height: 1;
      font-size: 1.85em;
      color: @text-red;
      margin: 0 0 60px;
      text-transform: uppercase;
      font-weight: 300;
    }
    .category__name {
      font-size: 2.85em;
      font-weight: bold;
      color: @text-red;
      opacity: 0.3;
      margin-bottom: 30px;
    }
    .category__title {
      text-transform: uppercase;
      font-size: 5em;
      color: @text-red;
      font-weight: 900;
      margin-bottom: 100px;
    }
    .btn-red {
      max-width: 225px;
      margin: 0 auto;
    }
  }
}

.header__position {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  .header-bg {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .footer-line, .footer-line2 {
    position: absolute;
    bottom: auto;
    top: -1000px;
    left: auto;
    right: 100px;
    transition: 0.3s;
  }
  .footer-line2{
    right: 250px;
    left: auto;
  }
  .header-girl {
    position: absolute;
    bottom: 0;
    right: 200px;
    display: block;
    z-index: 1;
  }
}