.btn-red {   
  a, input, button {
    background: linear-gradient(to right, @text-red-light, @text-red);
    &:hover {
      background: linear-gradient(to right, @text-red, @text-red-light);
    }
  }
}

.slider-wrap {
  .slick-arrow {
    width: 31px;
    height: 51px;
    background: url('../images/slider-btn.png') no-repeat center;
    &:before {
      display: none;
    }
    &.slick-prev {
      left: -31px;
    }
    &.slick-next {
      transform: rotate(180deg);
      right: -31px;
    }
  }
}