.box__item-text {
  color: @text-light;
  font-size: 1.28em;
  font-weight: 300;
  max-width: 185px;
  margin: 0 auto;
}
.scheme-map {
  text-align: center;
  img {
    max-width: 100%;
    height: auto;
  }
}
.home-masseuses {
  .slider__item {
    display: flex!important;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
      max-height: 430px;
      border-radius: 10px;
    }
  }
}

.wrap__items-about {
  .box__item {
    &.item-left {
      background: url('../images/slide1-1.jpg') no-repeat center;
      background-size: cover;
    }
    &.item-top {
      background: url('../images/slide1-2.jpg') no-repeat center;
      background-size: cover;
    }
    &.item-bottom {
      background: url('../images/slide1-3.jpg') no-repeat center;
      background-size: cover;
    }
  }
  .box__item-info {
    width: 100%;
    padding: 25px 30px;
    text-align: right;
    background: linear-gradient(to left, rgba(0,0,0,0.6), rgba(0,0,0,0.1));
    color: @text-light;
    &-title {
      font-size: 1.7em;
      line-height: 1;
      padding-bottom: 20px;
      font-weight: 600;
    }
    &-description {
      font-size: 1em;
      padding-bottom: 20px;
    }
  }
}