@fontPath: "../fonts/Raleway";
@font-face {
  font-family: 'Raleway';
  src: url('@{fontPath}/Raleway-ExtraLightItalic.eot');
  src: url('@{fontPath}/Raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/Raleway-ExtraLightItalic.woff2') format('woff2'),
  url('@{fontPath}/Raleway-ExtraLightItalic.woff') format('woff'),
  url('@{fontPath}/Raleway-ExtraLightItalic.ttf') format('truetype'),
  url('@{fontPath}/Raleway-ExtraLightItalic.svg#Raleway-ExtraLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('@{fontPath}/Raleway-Black.eot');
  src: url('@{fontPath}/Raleway-Black.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/Raleway-Black.woff2') format('woff2'),
  url('@{fontPath}/Raleway-Black.woff') format('woff'),
  url('@{fontPath}/Raleway-Black.ttf') format('truetype'),
  url('@{fontPath}/Raleway-Black.svg#Raleway-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('@{fontPath}/Raleway-Italic.eot');
  src: url('@{fontPath}/Raleway-Italic.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/Raleway-Italic.woff2') format('woff2'),
  url('@{fontPath}/Raleway-Italic.woff') format('woff'),
  url('@{fontPath}/Raleway-Italic.ttf') format('truetype'),
  url('@{fontPath}/Raleway-Italic.svg#Raleway-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('@{fontPath}/Raleway-BoldItalic.eot');
  src: url('@{fontPath}/Raleway-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/Raleway-BoldItalic.woff2') format('woff2'),
  url('@{fontPath}/Raleway-BoldItalic.woff') format('woff'),
  url('@{fontPath}/Raleway-BoldItalic.ttf') format('truetype'),
  url('@{fontPath}/Raleway-BoldItalic.svg#Raleway-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('@{fontPath}/Raleway-Medium.eot');
  src: url('@{fontPath}/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/Raleway-Medium.woff2') format('woff2'),
  url('@{fontPath}/Raleway-Medium.woff') format('woff'),
  url('@{fontPath}/Raleway-Medium.ttf') format('truetype'),
  url('@{fontPath}/Raleway-Medium.svg#Raleway-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('@{fontPath}/Raleway-ThinItalic.eot');
  src: url('@{fontPath}/Raleway-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/Raleway-ThinItalic.woff2') format('woff2'),
  url('@{fontPath}/Raleway-ThinItalic.woff') format('woff'),
  url('@{fontPath}/Raleway-ThinItalic.ttf') format('truetype'),
  url('@{fontPath}/Raleway-ThinItalic.svg#Raleway-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('@{fontPath}/Raleway-ExtraBoldItalic.eot');
  src: url('@{fontPath}/Raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/Raleway-ExtraBoldItalic.woff2') format('woff2'),
  url('@{fontPath}/Raleway-ExtraBoldItalic.woff') format('woff'),
  url('@{fontPath}/Raleway-ExtraBoldItalic.ttf') format('truetype'),
  url('@{fontPath}/Raleway-ExtraBoldItalic.svg#Raleway-ExtraBoldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('@{fontPath}/Raleway-Regular.eot');
  src: url('@{fontPath}/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/Raleway-Regular.woff2') format('woff2'),
  url('@{fontPath}/Raleway-Regular.woff') format('woff'),
  url('@{fontPath}/Raleway-Regular.ttf') format('truetype'),
  url('@{fontPath}/Raleway-Regular.svg#Raleway-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('@{fontPath}/Raleway-Light.eot');
  src: url('@{fontPath}/Raleway-Light.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/Raleway-Light.woff2') format('woff2'),
  url('@{fontPath}/Raleway-Light.woff') format('woff'),
  url('@{fontPath}/Raleway-Light.ttf') format('truetype'),
  url('@{fontPath}/Raleway-Light.svg#Raleway-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('@{fontPath}/Raleway-Bold.eot');
  src: url('@{fontPath}/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/Raleway-Bold.woff2') format('woff2'),
  url('@{fontPath}/Raleway-Bold.woff') format('woff'),
  url('@{fontPath}/Raleway-Bold.ttf') format('truetype'),
  url('@{fontPath}/Raleway-Bold.svg#Raleway-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('@{fontPath}/Raleway-ExtraBold.eot');
  src: url('@{fontPath}/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/Raleway-ExtraBold.woff2') format('woff2'),
  url('@{fontPath}/Raleway-ExtraBold.woff') format('woff'),
  url('@{fontPath}/Raleway-ExtraBold.ttf') format('truetype'),
  url('@{fontPath}/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('@{fontPath}/Raleway-MediumItalic.eot');
  src: url('@{fontPath}/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/Raleway-MediumItalic.woff2') format('woff2'),
  url('@{fontPath}/Raleway-MediumItalic.woff') format('woff'),
  url('@{fontPath}/Raleway-MediumItalic.ttf') format('truetype'),
  url('@{fontPath}/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('@{fontPath}/Raleway-SemiBold.eot');
  src: url('@{fontPath}/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/Raleway-SemiBold.woff2') format('woff2'),
  url('@{fontPath}/Raleway-SemiBold.woff') format('woff'),
  url('@{fontPath}/Raleway-SemiBold.ttf') format('truetype'),
  url('@{fontPath}/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('@{fontPath}/Raleway-SemiBoldItalic.eot');
  src: url('@{fontPath}/Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/Raleway-SemiBoldItalic.woff2') format('woff2'),
  url('@{fontPath}/Raleway-SemiBoldItalic.woff') format('woff'),
  url('@{fontPath}/Raleway-SemiBoldItalic.ttf') format('truetype'),
  url('@{fontPath}/Raleway-SemiBoldItalic.svg#Raleway-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('@{fontPath}/Raleway-BlackItalic.eot');
  src: url('@{fontPath}/Raleway-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/Raleway-BlackItalic.woff2') format('woff2'),
  url('@{fontPath}/Raleway-BlackItalic.woff') format('woff'),
  url('@{fontPath}/Raleway-BlackItalic.ttf') format('truetype'),
  url('@{fontPath}/Raleway-BlackItalic.svg#Raleway-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('@{fontPath}/Raleway-LightItalic.eot');
  src: url('@{fontPath}/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/Raleway-LightItalic.woff2') format('woff2'),
  url('@{fontPath}/Raleway-LightItalic.woff') format('woff'),
  url('@{fontPath}/Raleway-LightItalic.ttf') format('truetype'),
  url('@{fontPath}/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('@{fontPath}/Raleway-ExtraLight.eot');
  src: url('@{fontPath}/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/Raleway-ExtraLight.woff2') format('woff2'),
  url('@{fontPath}/Raleway-ExtraLight.woff') format('woff'),
  url('@{fontPath}/Raleway-ExtraLight.ttf') format('truetype'),
  url('@{fontPath}/Raleway-ExtraLight.svg#Raleway-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('@{fontPath}/Raleway-Thin.eot');
  src: url('@{fontPath}/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/Raleway-Thin.woff2') format('woff2'),
  url('@{fontPath}/Raleway-Thin.woff') format('woff'),
  url('@{fontPath}/Raleway-Thin.ttf') format('truetype'),
  url('@{fontPath}/Raleway-Thin.svg#Raleway-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

