.footer__position {
  .footer-girl {
    transition: 0.3s;
    animation: footer-three 20s linear infinite;
  }
  .footer-bg {
    transition: 0.3s;
    animation: footer-one 15s linear infinite;
  }
  .footer-line, .footer-line2 {
    transition: 0.3s;
  }
  .footer-line {
    animation: footer-two 20s linear infinite;
  }
  .footer-line2 {
    animation: footer-two 10s linear infinite;
  }
}

@keyframes footer-two {
  0%   { opacity: 0; }
  50% { opacity: 1; bottom: -100px; }
  100% { opacity: 0; }
}
@keyframes footer-one {
  0%   { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}