.nav {
  &__header {
    ul {
      li {
        a {
          &:after {
            .transition(width, 0.4s);
          }
          &:hover {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.header__position {
  .header-bg {
    transition: 0.3s;
    animation: footer-one 15s linear infinite;
  }
  .footer-line {
    animation: footer-two-last 35s linear infinite;
  }
  .footer-line2 {
    transition: 0.3s;
  }
  .footer-line2 {
    animation: footer-two-last 20s linear infinite;
  }
}


@keyframes footer-two-last {
  0%   { opacity: 0; }
  50% { opacity: 1; top: -30px; }
  100% { opacity: 0; }
}
